# Ignore all log files
*.log

# Ignore build output directory
out/

# Ignore Python byte-compiled files
*.pyc

# Ignore temporary files
temp/

run
runq
stories15M.bin
stories42M.bin
stories110M.bin
out/*.pt
out/*.bin
out
data/*

